.places {
    width: 100%;
}

.places div.places-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

.places div.places-container div.information {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: #cccccc solid 1px;
    border-top: #cccccc solid 1px;
}

.information {
    margin-bottom: 10px;
}

.information>div.col {
    display: flex;
    flex-direction: column;
}

.places h1 {
    font-size: 30px;
    flex: 0 1 100%;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.places-container>article>h2 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.price_by_night {
    color: #FF5A5F;
    border: #FF5A5F solid 4px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    position: absolute;
    top: 20px;
    right: 20px;
}

.col>div {
    height: 50px;
    width: 50px;
    background-clip: content-box;
}

.max_guest {
    background: url("../images/icon_group.png") no-repeat center;
}

.number_rooms {
    background: url("../images/icon_bed.png") no-repeat center;
}

.number_bathrooms {
    background: url("../images/icon_bath.png") no-repeat center;
}

.col>span {
    margin-bottom: 10px;
    margin-top: 40px;
}

.user {
    margin-bottom: 10px;
    text-align: left;
}

.description {
    margin-bottom: 10px;
    text-align: left;
}

.places-container .amenities {
    margin-top: 40px;
    text-align: left;
}

.places-container .amenities>h2 {
    font-size: 16px;
    border-bottom: #DDD solid 1px;
    padding-bottom: 10px;
}

.places-container .tv_image {
    background: url("../images/icon_tv.png") center no-repeat;
    background-size: 20px, 20px;
}

.places-container .pet_image {
    background: url("../images/icon_pets.png") center no-repeat;
    background-size: 20px, 20px;
}

.places-container .wifi_image {
    background: url("../images/icon_wifi.png") center no-repeat;
    background-size: 20px, 20px;
}

li>div {
    display: inline-flex;
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.amenities li {
    display: flex;
    flex-direction: row;
}

.amenities ul {
    list-style: none;
    padding-left: 0px;
}

.places-container .reviews {
    margin-top: 40px;
    text-align: left;
}

.places-container .reviews>h2 {
    font-size: 16px;
    border-bottom: #DDD solid 1px;
    padding-bottom: 10px;
}

.reviews ul {
    list-style: none;
    padding-left: 0px;
}