footer {
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: fixed;
    border-top: #cccccc solid 1px;
}