header {
    background-image: url("/images/logo.png");
    background-position-x: 20px;
    background-repeat: no-repeat;
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: #cccccc solid 1px;
}